*.o
*.obj
*.lo
*.a
*.lib
*.so
*.dll
*.exe
*.out

*~
*.swp
*.tmp

*.vs
Debug/
Release/
*.pdb
*.idb

.vscode/
*.sln
*.vcxproj*
*.user
*.aps
*.ncb
*.opendb
*.VC.db

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

*.log
build/
*.dSYM/
